<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.diagnostics>
    <trace>
      <listeners>
        <add type="Microsoft.WindowsAzure.Diagnostics.DiagnosticMonitorTraceListener, Microsoft.WindowsAzure.Diagnostics, Version=2.8.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="AzureDiagnostics">
          <filter type="" />
        </add>
      </listeners>
    </trace>
  </system.diagnostics>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="AzureStorageManagerSoap" />
      </basicHttpBinding>
      <customBinding>
        <binding name="AzureStorageManagerSoap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:56267/AzureStorageManager.asmx"
        binding="basicHttpBinding" bindingConfiguration="AzureStorageManagerSoap"
        contract="ASManager.AzureStorageManagerSoap" name="AzureStorageManagerSoap" />      
    </client>
  </system.serviceModel>
  <appSettings>
    <add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=ianroldanstorage;AccountKey=swLDHUV38PJ/NOMWdhtjxSUtnwtsFSTKq/LTp4Fjo+gg5PcB6fCGCOc4m4CW2kq8PsgDG4AYDTFj0PJh9Cw2Hg==;EndpointSuffix=core.windows.net" />
  </appSettings>
</configuration>